.class1{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg/1024px-Good_Food_Display_-_NCI_Visuals_Online.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100% ;


}

.mb-1{
  color: blue;
  font-family: Arial;
  size: auto;

}
.mb-3{
  background-color: cornsilk;
}
.mb-5{
  color: #c75dd7;
  font-family: Arial;
}
.mb-0{

}
.mb-2{
  background: #23c43e;
  font-family: "Arial Rounded MT Bold";

}
